@media screen and (min-width: 769px) {
  .element {
    display: inline-block;
    margin: 15px;
  }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
  .element {
    display: block;
    margin: 5px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 399px) {
  .element {
    display: none;
  }

  .other-element {
    float: none;
  }
}
